{% extends './base.html' %}

{% block content %}

<div class="container text-center mt-5">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="mb-3">Today YOU Learn</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem magnam
      fugiat nostrum beatae dolorem pariatur rerum quia minus omnis perferendis!

      <a href="/register">
        <button type="button" class="btn btn-primary mt-4">
          Get Started
        </button>
      </a>

    </div>
    <div class="col">
      <img src="/static/images/talking.png" alt="People Talking">
    </div>
  </div>


</div>

{% endblock %}