{% extends './base.html' %}

{% block content %}

<div class="container my-5 pt-5 w-100">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="mb-3">Today YOU Learn...</h1>

      <p class="w-75">
        something new. Ever find your self trying to strike up a conversation and
        find it difficult to know what to talk about? Then you need to <strong>WiseUp</strong>
      </p>
      <p>

      </p>
      <div>
        <a href="/register">
          <button type="button" class="btn btn-primary mt-4">
            Get Started
          </button>
        </a>
      </div>


    </div>
    
    <div class="col">
      <img 
        src="/static/images/talking.png"
        alt="People Talking"
        class="float-end img-fluid"
      >
    </div>
  </div>
</div>


<div class="position-static my-5">
  <div class="position-absolute start-0 vw-100 vh-25 border bg-info vh-50 my-5">
    <div class="container my-5">
      <div class="d-flex flex-row align-items-center justify-content-center">
        <div class="w-75">
          <img src="/static/images/cafe-talk.png" alt="cafe-talk" class="img-fluid">
        </div>

        <div class="ps-5 text-white mt-5 w-50">
          <p>
            Whether you're at a cafe, on a date, or with a group of friends,
            <strong>WiseUp</strong> is there to help you gain some knowledge
            for when you want to engage with others.
          </p>

          <a href="/register">
            <button type="button" class="btn btn-outline-light mt-4 fs-4">
              LET'S GO!
            </button>
          </a>
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

