{% extends './base.html' %}

{% block content %}

<div class="container mt-5 w-100">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="mb-3">Today YOU Learn</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem magnam
      fugiat nostrum beatae dolorem pariatur rerum quia minus omnis perferendis!

      <div>
        <a href="/register">
          <button type="button" class="btn btn-primary mt-4">
            Get Started
          </button>
        </a>
      </div>


    </div>
    
    <div class="col">
      <img 
        src="/static/images/talking.png"
        alt="People Talking"
        class="float-end img-fluid"
      >
    </div>
  </div>


</div>

{% endblock %}