{% block content %}

<!-- ids or classes that have data.id is for expanding accordion one at a time -->
<div class="accordion mt-4 reload" id="accordionFavs">
  {% for data in favs %}
    <div class="accordion-item">

      <h2 class="accordion-header" id="heading-{{ data.id }}">
        <div class="d-flex">
          <div class="mt-2 ms-2">
            <!-- save post button - use css to add button next to post -->
            <form action="/users/{{ g.user.username }}/save" method="POST">
              <button
                type="button"
                class="btn btn-sm btn-primary save-btn"
                style="display: inline;"
                data-url="{{ data.url }}"
                data-title="{{ data.title }}"
                data-user="{{ user.username }}"
                data-id="{{ data.reddit_id }}"
                data-comments="{{ data.comments }}"
              >
                <i class="{{ 'fa-solid fa-star' if data.reddit_id in user.favorites|map(attribute='reddit_id') else 'fa-regular fa-star'}}"></i>
              </button>
            </form>
          </div>

          <div class="p-1 flex-fill">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{data.id}}" aria-expanded="false" aria-controls="collapse-{{data.id}}">
              <a href="{{ data.url }}" class="text-decoration-none pe-2">
                {{ data.title }}
              </a>
            </button>
          </div>
        </div>
      </h2>

      <div id="collapse-{{data.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFavs">
        <p class="ps-5 mt-2">Additional info:</p>
        <div class="accordion-body mx-5 px-5 border border-info my-3 rounded">
          <p>{{ data.comments }}</p>
        </div>
      </div>
    </div>

  {% endfor %}
</div>

{% endblock %}