{% extends './base.html' %}

{% block content %}

<!-- jokes goes here -->
<p class="text-center mt-5">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJoke" aria-expanded="false" aria-controls="collapseJoke">
    <h6 class="text-center">Joke of the day</h6>
    
    {{ jokes[0].title }}
  </button>
</p>

<div class="text-center d-flex justify-content-center align-items-center">
  <div class="collapse mb-3" id="collapseJoke">
    <div class="card card-body">
      {{ jokes[0].selftext }}
    </div>
  </div>
</div>


<!-- inner nav-tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="topics-tab" data-bs-toggle="tab" data-bs-target="#topics-tab-pane" type="button"
      role="tab" aria-controls="topics-tab-pane" aria-selected="true">
      Topics
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="favs-tab" data-bs-toggle="tab" data-bs-target="#favs-tab-pane" type="button"
      role="tab" aria-controls="favs-tab-pane" aria-selected="false">Favorites</button>
  </li>
</ul>

<!-- inner nav-tabs content -->
<div class="tab-content" id="myTabContent">
  <!-- first tab content here -->

  <div class="tab-pane fade show active my-3" id="topics-tab-pane" role="tabpanel" aria-labelledby="topics-tab" tabindex="0">
    <!-- topics data goes here -->

    <!-- ids or classes that have data.id is for expanding accordion one at a time -->
    <div class="accordion mt-4" id="accordionExample">
      {% for data in top %}
        <div class="accordion-item">

        <h2 class="accordion-header" id="heading-{{ data.id }}">
          <div class="d-flex">
            <div class="mt-2 ms-2">
              <!-- save post button - use css to add button next to post -->
              <form action="/users/{{ user.username }}/save" method="POST">
                <button
                  type="button"
                  class="btn btn-sm btn-primary save-btn"
                  style="display: inline;"
                  data-url="{{ data.url }}"
                  data-title="{{ data.title }}"
                  data-user="{{ user.username }}"
                  data-id="{{ data.id }}"
                  data-comments="{{ data.comments }}"
                >
                  <i class="{{ 'fa-solid fa-star' if data.id in user.favorites|map(attribute='reddit_id') else 'fa-regular fa-star'}}"></i>
                </button>
              </form>
            </div>

            <div class="p-1 flex-fill">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{data.id}}" aria-expanded="false" aria-controls="collapse-{{data.id}}">
                <a href="{{ data.url }}" class="text-decoration-none pe-2">
                  {{ data.title }}
                </a>
              </button>
            </div>

          </div>
        </h2>

        <div id="collapse-{{data.id}}" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <p class="ps-5 mt-2">Additional info:</p>
          <div class="accordion-body mx-5 px-5 border border-info my-3 rounded">
            <p>{{ data.comments }}</p>
          </div>
        </div>
      </div>
      
      {% endfor %}
    </div>
  </div>
  
  <!-- second tab content goes here -->
  
  <div class="tab-pane fade" id="favs-tab-pane" role="tabpanel" aria-labelledby="favs-tab" tabindex="0">
    <!-- import user's favorites -->
    
    {% include './users/favs.html' %}
  </div>
</div>

{% endblock %}